{%extends 'piac_home.html'%}
{% load bootstrap %}
{%block title%}PIAC Login{%endblock%}
{%block menu_navegacao%}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand mr-auto mr-lg-0" href="#">Plataforma IAC</a>
    <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Lawebsi <span class="sr-only">(current)</span></a>
        </li>
  </nav>
{%endblock%}
{%block conteudo%}
<h1>Página de Login</h1>
<form method="POST">
  {%csrf_token%}
  {{ form|bootstrap }}
    <button type="submit" class="btn btn-primary">Login</button>
    <a class="btn btn-primary" href="{% url 'piac_home' %}">Voltar</a>
</form>
{%endblock%}
