{%extends 'piac_base.html'%}
{%block conteudo%}
  <main>
    <div class="align-items-center p-3 my-3 text-white-50 bg-secondary rounded shadow-sm">
          <!--<img class="mr-3" src="assets/brand/bootstrap-outline.svg" alt="" width="48" height="48">-->
      <div class="lh-100">
        <div class="row">
          <div class="col">
            <h6 class="mb-0 text-white lh-100">Oportunidades</h6>
            <small>Lawebsi</small>
          </div>
          <div class="col">

          </div>
          <div class="col">
            <form class="form-inline">
              <input type="text" name="pesquisa" id="pesquisa">
              <button type="submit" class="btn btn-primary btn-sm" name="button">Pesquisar</button>
            </form>
          </div>
        </div>

      </div>
    </div>

    <div class="my-3 p-3 bg-white rounded shadow-sm">
      <h6 class="border-bottom border-gray pb-2 mb-0">Oportunidades Recentes</h6>
        {%for dado in dados%}
          <div class="media text-muted pt-3">
            <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray"><strong class="d-block text-gray-dark"><a href="{%url 'detalhar_op' dado.id%}">{{dado.nome}}</a></strong>
              {{dado.descricao}}
              <a href="{% url 'deletar_op' dado.id %}"><i class="fa fa-trash" aria-hidden="true"></i></a>
            </p>
            <a href="{%url 'criar_ordem' dado.id%}"><button name="criar" type="button" class="btn btn-primary">Criar OS</button></a>
          </div>
        {%endfor%}
          <small class="d-block text-right mt-3"><a href="{%url 'lista_oportunidades'%}">Atualizar</a></small>
    </div>
  </main>
{%endblock%}
<!--{% url 'criar_ordem' item.op_id %}-->
