{%extends 'piac-system.html'%}
{%block conteudo%}
<div class="align-items-center p-3 my-3 text-white-50 bg-secondary rounded shadow-sm">
      <!--<img class="mr-3" src="assets/brand/bootstrap-outline.svg" alt="" width="48" height="48">-->
  <div class="lh-100">
    <div class="row">
      <div class="col">
        <h6 class="mb-0 text-white lh-100">Ordens de Serviço</h6>
        <small>Lawebsi</small>
      </div>
      <div class="col">

      </div>
      <div class="col">
        <form class="form-inline">
          <input type="text" name="pesquisa" id="pesquisa">
          <button type="submit" class="btn btn-primary btn-sm" name="button">Pesquisar</button>
        </form>
      </div>
    </div>

  </div>
</div>

<div class="my-3 p-3 bg-white rounded shadow-sm">
    <table class="table">
      <thead class="thead-dark">
        <tr class="grid-row-header">
          <th scope="col" ">OS</th>
          <th scope="col">Recurso</th>
          <th scope="col" >GDG</th>
          <th scope="col" >Mobile</th>
          <th scope="col" >Qualidade</th>
          <th scope="col" >Segurança</th>
          <th scope="col" >Relatório</th>
          <th scope="col" >Despesas</th>
        </tr>
      </thead>
      <tbody class="text-dark">
        {% for dado in dados %}
        <tr>
          <th scope="row"><a href="{% url 'detalhar_or' dado.numero %}">{{dado.numero}}</a><a href="{%url 'deletar_ordem' dado.numero %}"><i class="fa fa-trash" aria-hidden="true"></i></a></th>
          <td width="120px">
          {%for index in dado.recursos.all %}
            <span class="badge badge-pill bg-light align-text-bottom">{{index}}</span>
          {%endfor%}
          </td>
          <td><span class="badge badge-pill bg-light align-text-bottom">{{dado.gpg_status}}</span></td>
          <td><span class="badge badge-pill bg-light align-text-bottom">{{dado.mobile_status}}</span></td>
          <td><span class="badge badge-pill bg-light align-text-bottom">{{dado.crol_status}}</span></td>
          <td><span class="badge badge-pill bg-light align-text-bottom">{{dado.jsa_status}}</span></td>
          <td><span class="badge badge-pill bg-light align-text-bottom">{{dado.rels_status}}</span></td>
          <td><span class="badge badge-pill bg-light align-text-bottom">{{dado.reld_status}}</span></td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
</div>
  {%endblock%}
